<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @kind.description %>
</p>

<%= link_to 'Edit', edit_kind_path(@kind), class: "btn btn-warning" %> |
<%= link_to 'Back', kinds_path, class: "btn btn-default" %>
