<div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12"  align="left">
    <h3><%= titulo %></h3> <!-- helper home -->

    <ul style="list-style-type: none;">
        <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span><%= link_to " Contatos", contacts_path %></li>
        <li><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span><%= link_to " Tipos", kinds_path %></li>
    </ul>
</div>