<footer>
    <div class="container" style="background: #333333">
        <h6 style="text-align: center;  margin: 30px auto; width: 70%;">
            <span style="color: #e6e6e6; font-size: 11px;">
                <strong>Notebook</strong> é uma aplicação web para estudos e testes. Esta verão foi desenvolvida por Fred Oliveira.
            </span>
            <br>
            <br>
            <div><a style="color: #ccc; font-size: 11px;">github.com/FredHorizon</a></div>
        </h6>
    </div>
</footer>